.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:orange;
    font-weight: bold;
    height: 5vh;
}

.hchild{
    color: white;
    text-decoration: none;
}

.hchild:hover{
    color: blue;
}